@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
:root{
    --primary-color:#a5c926;
    --primary-color-dark:#99b922;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 16px;
}
a{
    color: white;
}
.hidden{
    display: none;
}


/* header */
header{
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 1px 1px 50px rgba(0, 0, 0,0.12);
    z-index: 1000;
}

.nav-top{
    height: 32px;

    padding: 0 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    background-color: var(--primary-color);
}
.nav-top-info{
    padding: 0 8px;

    font-size: 0.7rem;
    word-spacing:1px;
}
.nav-top-info span{
    margin-right: 16px;
}
.nav-top-info span a{
    text-decoration: underline;
}
.nav-top-social{
    padding: 0 8px;
    font-size: 0.9rem;
}
.nav-top-social a{
    padding: 5px;
}


.nav-main{
    height: 64px;
    padding: 0 0 0 8px;

    display: flex;
    justify-content: space-between;
    align-items:center;

    color: #333333;
}
.nav-main-logo{
    line-height: 64px;
    padding: 0 8px;
    font-size: 1.35rem;
    font-weight: 500;
    font-family:'Segoe UI', sans-serif;
}
.nav-menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-menu-list{
    width: 100%;
    position:absolute;
    top: 96px;
    left: 0;
}
.nav-menu-list #list-items{
    line-height: 24px;
    position: relative;
    left: 100%;
    padding: 16px 24px;

    background-color: white;
    border-top: 0.5px solid rgba(51, 51, 51,0.2);

}
.nav-menu>.nav-menu-list>#list-items:nth-child(1){
    transition: all 0.75s ease-in-out;
}
.nav-menu>.nav-menu-list>#list-items:nth-child(2){
    transition: all 1s ease-in-out;
}
.nav-menu>.nav-menu-list>#list-items:nth-child(3){
    transition: all 1.25s ease-in-out;
}
#menu-toggle:checked ~ .nav-menu>.nav-menu-list>#list-items{
    left:0;
}
#cart{
    padding: 9px 15px;
    display: flex;
    gap: 10px;
    color: #333333;
}
#item-count{
    height: 20px;
    width: 20px;

    line-height: 20px;
    text-align: center;

    color:white;
    background-color: var(--primary-color);
    border-radius: 50%;
    font-size: 0.75rem;
    font-family: 'poppins',sans-serif;
}

.menu-grid-container{
    height: 64px;
    width: 64px;
    line-height: 64px;
    padding: 20px;
    border-left: 0.5px solid rgba(51, 51, 51,0.2);
}
.menu-grid{
    height: 24px;
    width: 24px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.menu-grid div{
    height: 2px;
    width: 100%;
    background-color: #333333;
    position: absolute;
    transition: all 0.25s ease;
}
.menu-grid:hover div{
    background-color: var(--primary-color);
}
#top{
    top: 3px;
}
#middle{
    top:11px;
    left: 0;
}
#bottom{
    top: 19px;
}
#menu-toggle:checked ~ .menu-grid-container>label>.menu-grid>#top{
    top: 11px;
    transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-grid-container>label>.menu-grid>#middle{
    top: 11px;
    left:-24px
}
#menu-toggle:checked ~ .menu-grid-container>label>.menu-grid>#bottom{
    top: 11px;
    transform: rotate(-45deg);
}
#menu-toggle:checked ~ .menu-grid-container>label>.menu-grid:hover >div{
    background-color: red;
}



.hero-section{
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
